In [1]:
print("hello world!")

hello world!

In [2]:
def greetings():
  print("hello world!")

In [3]:
greetings()

hello world!

In [6]:
def greetings(mystr):
  print(mystr)

In [7]:
greetings("hello world!")

hello world!

In [8]:
greetings("welcome to my opython class")

welcome to my opython class

In [12]:
class Welcome:
  def greetings(self, mystr):
     print(mystr)

In [13]:
obj1 = Welcome()

In [14]:
obj1.greetings("welcome to my class")

welcome to my class

In [15]:
x = 10
y = 20

print(x + y)

30

In [17]:
def add(x, y):
  print(x + y)

In [18]:
add(10,20)

30

In [19]:
add(4, 5)

9

In [20]:
class Number:
  def add(self, x, y):
    return x + y

In [21]:
n1 = Number()

In [22]:
n1.add(2, 3)

5

In [30]:
class Number:
  def __init__(self):
    self.x = 0
    self.y = 0
    print("I am called first as object is created")
  def add(self):
    return self.x + self.y

  def setNumber(self, x, y):
    self.x = x
    self.y = y

In [31]:
n2 = Number()

I am called first as object is created

In [33]:
n2.add()

0

In [34]:
n2.setNumber(10, 3)

In [35]:
n2.add()

13

In [48]:
class Number:
  def __init__(self, x):
    self.x = x
  
  def getNumber(self):
    print(self.x)

In [49]:
n3 = Number(10)
n4 = Number(20)

In [50]:
n3.getNumber()
n4.getNumber()

10
20

In [51]:
n3 + n4

TypeError: ignored

In [56]:
class Number:
  def __init__(self, x):
    self.x = x
  
  def getNumber(self):
    print(self.x)

  def __add__(self, obj2):
    return self.x + obj2.x

In [57]:
n3 = Number(10)
n4 = Number(20)
n3.getNumber()
n4.getNumber()

10
20

In [59]:
n3 + n4

30