### Dictionaries
* data type built into Python
* used to store data values in **key:value** pairs.
* found in other languages as “associative memories” or “associative arrays”. 
* indexed by keys, which can be any immutable type; strings and numbers can always be keys. 
* A pair of braces creates an empty dictionary: {}.
* Placing a comma-separated list of key:value pairs within the braces adds initial **key:value** pairs to the dictionary

In [ ]:
emptyDict = {}

In [ ]:
emptyDict

{}

In [ ]:
tel = {
    "rk": 4414, 
    "john":2134, 
    "kevin": 3456
    }

In [ ]:
tel

{'john': 2134, 'kevin': 3456, 'rk': 4414}

* The main operations on a dictionary are storing a value with some key and extracting the value given the key. 
* It is also possible to delete a **key:value** pair with del. 
* If you store using a key that is already in use, the old value associated with that key is forgotten. 
* It is an error to extract a value using a non-existent key.

In [ ]:
tel['rk']

4414

* Performing list(d) on a dictionary returns a list of all the keys used in the dictionary
* sorted(d) returns the sorted order.
* To check whether a single key is in the dictionary, use the in keyword.

In [ ]:
list(tel)

['rk', 'john', 'kevin']

In [ ]:
'rk' in tel

True

In [ ]:
'jose' in tel

False

### Accessing Items
* using key
* using get()

In [ ]:
fruit = {
    "name": "Mango",
    "colour": "yellow",
    "price": 250
}

In [ ]:
fruit

{'colour': 'yellow', 'name': 'Mango', 'price': 250}

In [ ]:
print(fruit['price'])

250

In [ ]:
print(fruit.get('name'))

Mango

#### Get Keys
* keys() -- return a list of all the keys in the dictionary.

In [ ]:
print(fruit.keys())

dict_keys(['name', 'colour', 'price'])

#### Get Values
* values() -- return a list of all the values in the dictionary.

In [ ]:
print(fruit.values())

dict_values(['Mango', 'yellow', 250])

#### Get Items
* items() -- return each item in a dictionary, as tuples in a list.

In [ ]:
fruit

{'colour': 'yellow', 'name': 'Mango', 'price': 250}

In [ ]:
print(fruit.items())

dict_items([('name', 'Mango'), ('colour', 'yellow'), ('price', 250)])

#### Check the existence of a key

In [ ]:
'name' in fruit

True

### Change Dictionary Items
#### Change Values

In [ ]:
fruit['price'] = 260

In [ ]:
fruit

{'colour': 'yellow', 'name': 'Mango', 'price': 260}

#### Update Dictionary
* update() -- update the dictionary with the items from the given argument.
* argument must be a dictionary, or an iterable object with **key:value** pairs.

In [ ]:
fruit.update('price': 270)

SyntaxError: ignored

In [ ]:
fruit.update({'price': 270})

In [ ]:
fruit

{'colour': 'yellow', 'fruit': 270, 'name': 'Mango', 'price': 270}

### Adding Items

In [ ]:
fruit["owner"] = "rk"

In [ ]:
fruit

{'colour': 'yellow',
 'fruit': 270,
 'name': 'Mango',
 'owner': 'rk',
 'price': 270}

#### Update Dictionary
* update() -- update the dictionary with the items from a given argument. 
* If the item does not exist, the item will be added.

In [ ]:
fruit.update({"cultivationType": "Natural"})

In [ ]:
fruit

{'colour': 'yellow',
 'cultivationType': 'Natural',
 'fruit': 270,
 'name': 'Mango',
 'owner': 'rk',
 'price': 270}

### Remove Dictionary Items
#### Removing Items
* pop() -- removes the item with the specified key name:

In [ ]:
fruit.pop("fruit")

270

In [ ]:
fruit

{'colour': 'yellow',
 'cultivationType': 'Natural',
 'name': 'Mango',
 'owner': 'rk',
 'price': 270}

* popitem()  -- removes the last inserted item
* Note : before py 3.7 removes a random item

In [ ]:
fruit.popitem()

('cultivationType', 'Natural')

* del -- removes the item with the specified key name:

In [ ]:
del fruit['owner']

In [ ]:
fruit

{'colour': 'yellow', 'name': 'Mango', 'price': 270}

In [ ]:
fruit.clear()

In [ ]:
fruit

{}

### Using loop in dictionary

In [2]:
fruit = {'colour': 'yellow', 'name': 'Mango', 'price': 270}

In [ ]:
for i in fruit:
  print(i)

colour
name
price

In [3]:
for i in fruit:
  print(fruit[i])

yellow
Mango
270

In [4]:
for i in fruit.values():
  print(i)

yellow
Mango
270

In [5]:
for i in fruit.keys():
  print(i)

colour
name
price

#### Copying dictionaries
* can't copy a dictionary
* d1 = d2 add a reference
* chnages in d2 reflectes in d1
* copy() - to make a duplicate

In [6]:
fruit1 = fruit

In [7]:
fruit1

{'colour': 'yellow', 'name': 'Mango', 'price': 270}

In [8]:
fruit1.update({"owner": "rk"})

In [9]:
fruit

{'colour': 'yellow', 'name': 'Mango', 'owner': 'rk', 'price': 270}

In [10]:
fruit2 = fruit.copy()

In [11]:
fruit2

{'colour': 'yellow', 'name': 'Mango', 'owner': 'rk', 'price': 270}

In [12]:
fruit2.update({"cultivationType": "Organic"})

In [13]:
fruit

{'colour': 'yellow', 'name': 'Mango', 'owner': 'rk', 'price': 270}

* Alternative
* dict()

In [14]:
fruit4 = dict(fruit)

In [15]:
fruit4

{'colour': 'yellow', 'name': 'Mango', 'owner': 'rk', 'price': 270}

### Nested Dictionaries

In [ ]:
student = {
    "std1": {
        "name": "John",
        "age": 18
    },
    "std2":{
        "name": "kevin",
        "age": 21
    }
}

In [ ]:
student

{'std1': {'age': 18, 'name': 'John'}, 'std2': {'age': 21, 'name': 'kevin'}}

In [ ]:
print(student["std1"]["name"])

John