### Higher-Order Functions
* As you gain experience in writing programs, you will learn to spot common
and redundant patterns in the code. 
* One pattern that occurs again and again is the application of a function to a set of values to produce some results. 
* Here are some examples:
  * The numbers in a text file must be converted to integers or floats after they are input.
  * The first-person pronouns in a list of words must be changed to the corresponding second-person pronouns 
  * Only scores above the average are kept in a list of grades.
  * The sum of the squares of a list of numbers is computed.
* For these patterns, a higher-order function expects a function and a set of data values as arguments. 
* The argument function is applied to each data value, and a set of results or a single data value is returned. 
* A higher-order function separates the task of transforming each data value from the logic of accumulating the results.

### Functions as First-Class Data Objects
* In Python, functions can be treated as first-class data objects . 
* This means that they can be 
  * assigned to variables (as they are when they are defined)
  * passed as arguments to other functions
  * returned as the values of other function
  * and stored in data structures such as lists and dictionaries.

In [ ]:
abs

In [ ]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [ ]:
import math

In [ ]:
f1 = abs

In [ ]:
f1

In [ ]:
f1(-5)

5

In [ ]:
functions = [abs, math.sqrt]

In [ ]:
functions

In [ ]:
functions[1](5)

2.23606797749979

In [ ]:
functions[0](-5)

5

### Mapping
* This process applies a function to each value in a sequence (such as a list, a tuple, or a string) and returns a new sequence of the results. 
* Python includes a map function for this purpose. 
* Example
  * Suppose we have a list named words that contains strings that represent integers. 
  * We want to replace each string with the corresponding integer value. 
  * The map function easily accomplishes this

In [ ]:
words = ["124", "34", "67", "89", "2"]
words

['124', '34', '67', '89', '2']

In [ ]:
map(int, words)

In [ ]:
nums = list(map(int, words)) # list --> conversion, map()

In [ ]:
nums

[124, 34, 67, 89, 2]

### **Note:** 
* map builds and returns a new map object, which we feed to the list function to
view the results. 
* We could have written a for loop that does the same thing, but that would
entail several lines of code instead of the single line of code required for the map function.
* Another reason to use the map function is that, in programs that use lists, we might need to perform this task many times; relying on a for loop for each instance would entail multiple sections of redundant code. 
* Moreover, the conversion to a list is only necessary for viewing the results; a map object can be passed directly to another map function to perform further
transformations of the data

### Filtering
* A second type of higher-order function is called a filtering. 
* In this process, a function called a predicate is applied to each value in a list. 
* If the predicate returns True , the value passes the test and is added to a filter object (similar to a map object). 
* Otherwise, the value is dropped from consideration.

In [ ]:
def odd(n): return n % 2 == 1
list(filter(odd, range(10)))

[1, 3, 5, 7, 9]

In [ ]:
def even(n): return n % 2 == 0
evenNum = list(filter(even, range(10)))

In [ ]:
evenNum

[0, 2, 4, 6, 8]

### **Note**
* As with the function map , the result of the function filter can be passed directly to another call of filter or map . 
* List processing often consists of several mappings and filterings of data, which can be expressed as a series of nested function calls.

### Reducing
* Here we take a list of values and repeatedly apply a function to accumulate a single data value. 
* A summation is a good example of this process. 
* The first value is added to the second value, then the sum is added to the third value, and so on, until the sum of all the values is produced.
* The Python functools module includes a reduce function that expects a function of two arguments and a list of values. 
* The reduce function returns the result of applying the ­function as just described.

In [ ]:
from functools import reduce

In [ ]:
def addSeries(a, b): return a + b

In [ ]:
data = [1, 2, 3, 4, 5]

In [ ]:
reduce(addSeries, data)

15

### Using lambda to Create Anonymous Functions
* Although the use of higher-order functions can really simplify code, it is somewhat onerous to have to define new functions to supply as arguments to the higher-order functions. 
* For example, the functions add and multiply will never be used anywhere else in a program, because the operators + and * are already available. 
* It would be convenient if we could **define a function “on the fly,”** right at the point of the call of a higher-order function, especially if it is not needed anywhere else.
* Python includes a mechanism called lambda that allows the programmer to create functions in this manner. 
* A lambda is an anonymous function . 
* It has no name of its own, but it contains the names of its arguments as well as a single expression. 
* When the lambda is applied to its arguments, its expression is evaluated, and its value is returned.
The syntax of a lambda is very tight and restrictive:
```
lambda <argname-1, ..., argname-n>: <expression>
```
* All of the code must appear on one line and, although it is sad, a lambda cannot include a selection statement, because selection statements are not expressions.

In [ ]:
data

[1, 2, 3, 4, 5]

In [ ]:
reduce(lambd a, b: a + b, data)

SyntaxError: ignored

In [ ]:
reduce(lambda a, b: a + b, data)

15

### Creating Jump Tables
* case study contains a menu-driven command processor. 
* When the user selects a command from a menu, the program compares this number to each number ina set of numbers, until a match is found. 
* A function corresponding to this number is then called to carry out the command. 
* The function runCommand implemented this process with a long, multi-way selection statement. 
* With more than three options, such statements become tedious to read and hard to maintain. 
* Adding or removing an option also becomes tricky and error prone.
* A simpler way to design a command processor is to use a data structure called a jump table.
* A jump table is a dictionary of functions keyed by command names. 
* At program startup, the functions are defined and then the jump table is loaded with the command names and their associated functions. 
* The function runCommand uses its command argument to look up the function in the jump table and then calls this function.

In [ ]:
option = ""
while True:
  print("Select 1 for addition")
  print("Select 2 for subtraction")
  print("Select 3 for exit")
  option = int(input("Enter your choice:"))
  if option == 3:
    break
  elif option == 1:
    print("add")
  elif option == 2:
    print("sub")
  else:
    print("enter a valid option")

Select 1 for addition
Select 2 for subtraction
Select 3 for exit
Enter your choice:1
add
Select 1 for addition
Select 2 for subtraction
Select 3 for exit
Enter your choice:2
sub
Select 1 for addition
Select 2 for subtraction
Select 3 for exit
Enter your choice:5
enter a valid option
Select 1 for addition
Select 2 for subtraction
Select 3 for exit
Enter your choice:3

In [ ]:
def selectOptions():
  option = input("Enter your option:")
  return option

In [ ]:
def add():
  print("add")

In [ ]:
def sub():
  print("sub")

In [ ]:
def runCommand(cmd):
  jumpTable = {}
  jumpTable['1'] = add
  jumpTable['2'] = sub
  jumpTable[cmd]()

In [ ]:
cmd = selectOptions()
runCommand(cmd)

Enter your option:1
add

### Home work
* Write the code for a mapping that generates a list of the absolute values of the numbers in a list named numbers.
* Write the code for a filtering that generates a list of the positive numbers in a list named numbers. You should use a lambda to create the auxiliary function.
* Write the code for a reducing that creates a single string from a list of strings named words.
* Modify the summation function presented discussed in the class, so that it includes default arguments for a step value and a function. The step value is used to move to the next value in the range. The function is applied to each number visited, and the function’s returned value is added to the running total. The default step value is 1, and the default function is lambda that returns its argument (essentially an identity function). An example call of this function is summation(l, 100, 2, math.sqrt), which returns the sum of the square roots of every other number between 1 and 100. The function can also be called as usual, with just the bounds of the range.