### Set, set operations, set methods.
* A Python set is the collection of the unordered items. 
* Each element in the set must be unique, immutable, and the sets remove the duplicate elements. 
* Sets are mutable which means we can modify it after its creation.
* Unlike other collections in Python, there is no index attached to the elements of the set, i.e., we cannot directly access any element of the set by the index. 
* However, we can print them all together, or we can get the list of elements by looping through the set.

In [ ]:
fruitSet = {"Apple", "Orange", "mango"}

In [ ]:
fruitSet

{'Apple', 'Orange', 'mango'}

### Set Items
* Set items are unordered, unchangeable, and do not allow duplicate values.

In [ ]:
fruitSet = {"Apple", "Orange", "mango", "Apple"}

In [ ]:
fruitSet

{'Apple', 'Orange', 'mango'}

### Unordered
* Unordered means that the items in a set do not have a defined order.
* Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

In [ ]:
fruitSet[0]

TypeError: ignored

In [ ]:
fruitSet = {"Apple", "Orange", "mango", "Banna"}

In [ ]:
fruitSet

{'Apple', 'Banna', 'Orange', 'mango'}

### Unchangeable
* Set items are unchangeable, meaning that we cannot change the items after the set has been created.

In [ ]:
fruitSet[0] = "Orange"

TypeError: ignored

### Duplicates Not Allowed
* Sets cannot have two items with the same value.

In [ ]:
fruitSet = {"Apple", "Orange", "mango", "Banna", "Orange"}

In [ ]:
fruitSet

{'Apple', 'Banna', 'Orange', 'mango'}

### Get the Length of a Set
* To determine how many items a set has, use the len() function.

In [ ]:
len(fruitSet)

4

### Set Items - Data Types
* Set items can be of any data type
* type()

In [ ]:
type(fruitSet)

set

In [ ]:
myset1 = {"apple", 123, True, "XYZ Trading"}

In [ ]:
myset1

{123, True, 'XYZ Trading', 'apple'}

### set() Constructor
* It is also possible to use the set() constructor to make a set.

In [ ]:
myset2 = {"apple"}

In [ ]:
myset3 = set(("Apple", "Orange", "mango", "Banna")) # you should use double round-brackets

In [ ]:
myset3

{'Apple', 'Banna', 'Orange', 'mango'}

### Access Items
* You cannot access items in a set by referring to an index or a key.
* But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
for item in myset3:
  print(item)

Apple
Orange
mango
Banna

### Change Items
* Once a set is created, you cannot change its items, but you can add new items.
* To add one item to a set use the add() method.

In [ ]:
myset3.add("cherry")

In [ ]:
for item in myset3:
  print(item)

cherry
Orange
mango
Apple
Banna

In [ ]:
myset3

{'Apple', 'Banna', 'Orange', 'cherry', 'mango'}

### Add Sets
* To add items from another set into the current set, use the update() method.

In [ ]:
myset3 = {"Apple", "Orange", "mango", "Banna"}
myset4 = {"papaya"}

In [ ]:
myset3.update(myset4)

In [ ]:
for item in myset3:
  print(item)

Apple
papaya
Orange
mango
Banna

In [ ]:
myset3

{'Apple', 'Banna', 'Orange', 'mango', 'papaya'}

### Add Any Iterable
* The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [ ]:
myset3 = {"Apple", "Orange", "mango", "Banna"}
mylist = ["Kiwi", "Grape"]

In [ ]:
myset3.update(mylist)

In [ ]:
for item in myset3:
  print(item)

Kiwi
Orange
mango
Grape
Apple
Banna

### Remove Item
* To remove an item in a set, use the remove(), or the discard() method.
* **Note:** If the item to remove does not exist, remove() will raise an error.
* Remove "banana" by using the discard() method:
* **Note:** If the item to remove does not exist, discard() will NOT raise an error.
* You can also use the pop() method to remove an item, but this method will remove the last item. 
* **Note:** Remember that sets are unordered, so you will not know what item that gets removed.

In [ ]:
myset3

{'Apple', 'Banna', 'Grape', 'Kiwi', 'Orange', 'mango'}

In [ ]:
myset3.remove("Banna")

In [ ]:
myset3

{'Apple', 'Grape', 'Kiwi', 'Orange', 'mango'}

In [ ]:
myset3.remove("Banna")

KeyError: ignored

In [ ]:
myset3.discard("Banna")

In [ ]:
myset3.discard("mango")

In [ ]:
myset3

{'Apple', 'Grape', 'Kiwi', 'Orange'}

In [ ]:
myset3.pop()

'Kiwi'

In [ ]:
for item in myset3:
  print(item)

Orange
Grape
Apple

In [ ]:
myset3.pop()

'Orange'

In [ ]:
myset3.clear() # empties the set

In [ ]:
myset3

set()

In [ ]:
del myset3 # delete the set completely

In [ ]:
myset3

NameError: ignored

### Join Two Sets
* You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [ ]:
set1 = {"z", "a", "b"}
set2 = {1, 2, 4}

In [ ]:
set3 = set1.union(set2)

In [ ]:
set3

{1, 2, 4, 'a', 'b', 'z'}

In [ ]:
set1.update(set2)

In [ ]:
set1

{1, 2, 4, 'a', 'b', 'z'}

### Keep ONLY the Duplicates
* The intersection_update() method will keep only the items that are present in both sets.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {1, 2, 5, 6}

In [ ]:
set1.intersection_update(set2)

In [ ]:
set1

{1, 2}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {1, 2, 5, 6}
set3 = set1.intersection(set2)
set3

{1, 2}

### Keep All, But NOT the Duplicates
* The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {1, 2, 5, 6}
set1.symmetric_difference_update(set2)
set1

{3, 4, 5, 6}